# Compose file to spin up a local Snipe-IT for development.

version: '3'

services:
  mariadb:
    image: mariadb:11.4.7
    volumes:
      - db:/var/lib/mysql
    env_file:
      - .env.dev.docker
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: snipeit_dev
      MYSQL_USER: snipeit
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      # https://mariadb.com/kb/en/using-healthcheck-sh/#compose-file-example
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 6s
      timeout: 3s
      retries: 6

  redis:
    image: redis:8.4.3

  mailhog:
    image: mailhog/mailhog:v2.0.1
    ports:
      # - 1026:1025
      - "8026:8025"

volumes:
  db: {}
